body {
    background-color: yellow;
}

.trapeze {
    display: none;
    width: 80px;
    height: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-bottom: 100px solid royalblue;
}

.trapeze p {
    text-align: center;
}

.wave {
   display: none;
    transform: rotate(0.25turn) translateX(352px);
}

text {
    font-size: 100px;
    color: white;
}

.wave2 svg {
    height: 800px;
}

.text {
    font-size: 21px;
  font-style: italic;
  line-height: 1.25;
  padding: 0;
  text-align: center;
  text-shadow: 0.5px 0.5px 1px rgba(0, 0, 0, 0.3);
  background: url(images/wave.svg);
  height: 1080px;
  width: 100%;
  position: relative;
  margin: 0;
}

.text p::before {
    content: "";
    float: right;
    height: 100%;
    width: 50%;
    shape-outside: polygon(
      2% 0%,
      100% 0%,
      100% 100%,
      2% 100%,
      50% 94%,
      76.6% 82.7%,
      94% 65.6%,
      100% 50%,
      94% 32.6%,
      76.6% 17.3%,
      50% 6%
      );
    shape-margin: 7%;
}